<div>
  <h1>
    Obras de Arte: {{galleryName}}
  </h1>
  <table mat-table [dataSource]="works">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let work"> {{work.name}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let work"> {{work.author}} </td>
    </ng-container>

    <ng-container matColumnDef="creationYear">
      <th mat-header-cell *matHeaderCellDef> Ano de Criação </th>
      <td mat-cell *matCellDef="let work"> {{work.creationYear}} </td>
    </ng-container>

    <ng-container matColumnDef="askPrice">
      <th mat-header-cell *matHeaderCellDef> Valor de Venda </th>
      <td mat-cell *matCellDef="let work"> {{work.askPrice | currency: 'EUR' : '' : '4.3-3' }} EUR</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let work">
        <span>
          <mat-icon aria-hidden="false" aria-label="delete" fontIcon="delete" (click)="deleteArtWorkClick(work.id)"></mat-icon>
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
